th, td {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.tableContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
